<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bike Share App</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Bike Share app</h1>
      <!--p><a class="btn btn-primary btn-lg" href = "/about" role="button">Need to know about our app! Click Here!</a></p-->
    </div>

    <!-- Bike Rides -->
    <div class="row" id="bike_trips">
      <div class="col-md-12">
        <h4 class="heading"> {{bike_rides}}</h4>
        <!--small>{{bike_rides.hood}}</small-->
      </div>
    </div>

  </div>
</body>

</html>

