<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bike Data Index</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.3/css/bootstrap-select.min.css" />
  <!-- <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" /> -->
  <link rel="stylesheet" type="text/css" href="static/css/style.css">

  <!--   Navbar Linkes -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/static/js/jquery.min.js"><\/script>')</script>
  <script src="/static/js/bootstrap.min.js"></script>

</head>

<body>

  <div class="container-fluid">
    <!-- NAVBAR
    ================================================== -->
    <div class="navbar-wrapper">
      <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  	<nav class="navbar navbar-inverse navbar-static-top">
                        <div class="navbar-header">
                          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                          </button>
                          <a class="navbar-brand" href="/">Home</a>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                          <ul class="nav navbar-nav">
                            <li><a href="dashboard.html">Dashboard</a></li>
                            <li><a href="citibike.html">Citi Bike App</a></li>
                            <li><a href="bikecharts.html">Bikecharts</a></li> 
                          </ul>
                        </div>
                    </nav>
                </div>
            </div>
          </div>
      </div>

    <!-- End of NAVBAR
    ================================================== -->
    <br>

    <!-- Definr the index texts
     ================================================== -->
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center; color:green;">
        <h1 class="featurette-heading">Metro Bike Share</h1>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-lg-6 col-lg-push-6 col-md-9 col-md-push-6 col-sm-9 col-sm-push-6 col-xs-9 col-xs-push-6">
        <p style="font-size: 16px; text-align: justify;">According to the National Association of City Transportation Officials (NACTO), since 2010 there has been 123 millions bike trips taken on bike share. In 2017 alone, 35 millions trips were taken which is a 25% increase compared to the previous year of 2016. For more statistical information, please visit <a target="_blank" href="https://nacto.org/bike-share-statistics-2017/"><strong>NACTO </strong></a>website.<br><br>

        Some of the benefits of Bike Share are:<br>
        - Cycling health benefits for the individual;<br>
        - Co2 emission reduction;<br>
        - Local traffic reduction;<br>
        - Increase in mobility which benefits businesses.<br><br>

      </div>
      <div class="col-lg-6 col-lg-pull-6 col-md-6 col-md-pull-6 col-sm-6 col-sm-pull-6 col-xs-6 col-xs-pull-6">
        <img src="http://anythingla.com/wp-content/uploads/2016/10/MetroBikeSharecomestothePortofLos-Angeles.jpg" alt="metrobikesshare">
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-lg-6 col-lg-push-6 col-md-6 col-md-push-6 col-sm-6 col-sm-push-6 col-xs-6 col-xs-push-6">
        <p style="font-size: 16px;">To accomplish this we used the following:<br>
        - Python Flask;<br>
        - JavaScript;<br>
        - HTML;<br>
        - CSS;<br>
        - MongoDB;<br>
        - GeoJson file;<br>
        - Mapbox API;<br>
        - New libraries: jquery and ajax;<br>
        - Data source: <a target="_blank" href="https://bikeshare.metro.net/about/data/"><strong>LA Metro Bike Share.</strong></a></p><br>
      </div>

      <div class="col-lg-6 col-lg-pull-6 col-md-6 col-md-pull-6 col-sm-6 col-sm-pull-6 col-xs-6 col-xs-pull-6">
        <p style="font-size: 16px;">This Bike Share project focuses on the data retrieved from the Los Angeles Metro Bike Share to build a full stack website with:<br>
        1) A map with all the stations, providing the user cycling directions from station to station, and driving directions from any location to a selected station;<br>
        2) A dashboard where the user can select the station name and get the live station status and at the same time, visualize that station peak hours;<br>
        3) Charts displaying data analysis on Pass Type.<br></p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg12 col-md-12 col-sm-12 col-xs-12">
          <p class="contact-text" style="text-align: center; color:green; font-size:36px;">Team Members (group 5)</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
          <p><a class="members" target="_blank" href="https://www.linkedin.com/in/charleslee08/"><h3>Charles Lee</h3></a></p>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
          <p><a class="members" target="_blank" href="https://www.linkedin.com/in/shayan-norouzi"><h3>Shayan Norouzi</h3></a></p>
          </div>

      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
          <p><a class="members" target="_blank" href="https://www.linkedin.com/in/haidy-sedky-79abab30/"><h3>Haidy Sedky</h3></a></p>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
          <p><a class="members" target="_blank" href="https://www.linkedin.com/in/cyntia-wonsch-69555a24/"><h3>Cyntia Wonsch</h3></a></p>
      </div>
    </div>
    <br>
</div>
  <!-- <div id="map"></div> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <!-- Leaflet JavaScript -->
  <script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.css' rel='stylesheet' />
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>

  <!-- Leaflet heatmap plugin-->
  <script type="text/javascript" src="/static/js/heatmap.js"></script>
  <script type="text/javascript" src="/static/js/leaflet-heatmap.js"></script>

  <!-- API Key -->
  <script type="text/javascript" src="/static/js/config.js"></script>
  <!-- Our JavaScript -->
  <!-- <script type="text/javascript" src="js/logic.js"></script> -->
  <script type="text/javascript" src="/static/js/app.js"></script>

</body>

</html>

