<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Vizualizations</title>
        <!--<script src="https://d3js.org/d3.v4.js"></script>-->
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
  <body>
    <!--<div id = "weekdayDropdown"></div>-->
    <select name="dropdownSelect" id="dropdownSelect" onchange="selectionChange(this.value)">
            <option value="One Day Pass">One Day Pass</option>
            <option value="Monthly Pass">Monthly Pass</option>
            <option value="Annual Pass">Annual Pass</option>
            <option value="Flex Pass">Flex Pass</option>
        </select>
    <button id="button" onclick="filter_data()">Filter Data</button>
    <div id="graph"></div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>  
  <script src="/static/js/app.js"></script>

</body>

</html>

